<h1>@<%= current_user.username %>'s Chirp Feed</h1>
<p>Here is what your "friends" are saying:</p>


<br>
<div>
    <%= render 'chirps/form', chirp: @chirp %>
</div>
<br>

<div>
    <% @following_chirps.each do |chirp| %>
        <div class="row">
	        <div class="col-xs mx-4">
	        	<% if chirp.user.avatar.attached? %>
                        <%= image_tag (chirp.user.avatar.variant(resize_to_limit: [50,50]))%>
                      <% else %>
                        <%= image_tag("default_avatar.png", :size=>"50x50")%> 
                <% end%>
                </div>
		        
			    <div class="col">@<%= chirp.user.username %>
			    	said... •
                    <%= time_ago_in_words(chirp.created_at) if Time.now - chirp.created_at < 86400 %> 
                    <%= chirp.created_at.strftime('%b %e') if Time.now - chirp.created_at > 86400 %>
	        
			    </div>
			    <div class="col mx-5" style="background-color: lightblue"><%= chirp.message.html_safe %></div>
			    <div class="col"></div>
			</div>
    <% end %>
</div>