<h1 class="text-center">@<%= @user.username %>'s Profile & Chirps</h1>
<br>
<br>


<div class="container">
        <div class="row row-cols-3">
        	<div class="col">
        		<% if current_user.avatar.attached? %>
                        <%= image_tag (current_user.avatar.variant(resize_to_limit: [250,250]))%>
                      <% else %>
                        <%= image_tag("default_avatar.png", :size=>"250x250")%> 
                      <% end%>
        	</div>
        	<div class="col"></div>
        	<div class="col"></div>    
        </div>
        <div class="container">
            <h4 class="row">
            	<%=@user.name %>		
            </h4>
            <p> Location: <%=@user.location %></p>
            <p> Bio: <%= @user.bio %></p>

            <p>
                <% if current_user.following.include?(@user.id) %>
                    <%= link_to "Following", unfollow_path(id: @user.id), class: "btn btn-primary text-white", id: "unfollow_btn" %>
                <% else %>
                    <% if current_user.id != @user.id %>
                        <%= link_to "Follow", now_following_path(id: @user.id), class: "btn btn-primary text-white" %>
                    <% else %>
                            <div>
                                <%= render 'chirps/form', chirp: @chirp %>
                            </div>
                        <% end %>
                <% end %>
            </p> 
        </div>
    </div>

<br>

<br>
<div class="row">
    <div class="col-5"></div>
    <div class="col">
        <% @user.chirps.each do |chirp| %>
    <div class="d-flex align-items-center">
            <div class="row my-3 " style="background-color: #ebf2ff; width: 500px">
                    <div class="col-xs mx-3 my-2">
                        <% if chirp.user.avatar.attached? %>
                                <%= image_tag (chirp.user.avatar.variant(resize_to_limit: [50,50]))%>
                              <% else %>
                                <%= image_tag("default_avatar.png", :size=>"50x50")%> 
                        <% end%>
                    </div>
                    
                    <div class="col-xs align-self-center">
                        <p >@<%= chirp.user.username %>
                        <%= time_ago_in_words(chirp.created_at) if Time.now - chirp.created_at < 86400 %> 
                        <%= chirp.created_at.strftime('%b %e') if Time.now - chirp.created_at > 86400 %>
                        </p>
                    </div>
                    <div class="col-5 ml-3 my-2" style="width: 450px; background-color: #e1e8f5"><%= chirp.message.html_safe %></div>
                   
                </div> 
            </div>
    
<%end%>
    </div>
</div>
