<div>
    <h1><%= @tag.phrase %></h1>
</div>

  <!-- a place for current user stats -->
  <div class="row">
    <% @tag.chirps.order(created_at: :desc).each do |tweet| %>
      <div class="col-md-4">
        <p><%= image_tag chirp.user.avatar %> <%= link_to "@#{tweet.user.username}", show_user_path(id: chirp.user.id)%>•
        <%= time_ago_in_words(chirp.created_at) %></p>
        
      </div>
        <div class="well col-md-8">
          <%= chirp.message.html_safe %>
        </div>
    <% end %>
   </div>